<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">

  <% if session.is_logged_in? %>
  Welcome, <%= session[:username] %>!
  Current balance: <%= session[:balance] %>

  <% else %>
  <a href="/">Go back.</a>

  <% end %>



    <a href="/logout">Log out</a>
  </body>
</html>